<!-- Home Section -->

<section id="home" class="main-home parallax-section">
    
  <div class="overlay"></div>
  <div id="particles-js"></div>

  <div class="container" >
    
      <video id="myVideo" autoplay loop muted>
          <source src="assets/video/i.mp4">
        </video>
       <div class="row">
        
            <div class="col-md-12 col-sm-12">
                 <h1>Bienvenue à Tun'Ija</h1>
                 
               
                 <a   mat-button routerLink="/register" class="smoothScroll btn btn-default">insciption</a>
                 &nbsp;
                 <a  mat-button routerLink="/login" class="smoothScroll btn btn-default">Connexion</a>
            </div>

       </div>
  </div>
</section>