<!--<app-nav></app-nav>-->
<mat-toolbar>
    <span>Traducteur</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput  placeholder="Email" name="email" [(ngModel)]="email">
           </mat-form-field><br>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" name="password" [(ngModel)]="password">
           </mat-form-field>
          <!--<img src="./assets/img/aa.jpg"/>--> 
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button  (click)='auth()' color="primary">LOGIN</button>
     </mat-card-actions>
  </mat-card>
<!--<div class="chatpos"><app-chat></app-chat></div> -->