<!--<app-nav></app-nav>-->

<mat-toolbar><span >Traducteur</span></mat-toolbar>

<br><br>
  <mat-card class="my-card">
     <mat-card-content>
      <form>
       
         <div class="form-row">
          
           <div class="col">
          
             <input mdbInput type="text" class="form-control" placeholder="Francais" [(ngModel)]="motfran" name="french" >
           </div>
          
           <div class="col">
            
             <textarea    name="tunisian" [(ngModel)]="tunisianWord" ></textarea>
           </div>
           
         </div>
         
       </form>
      </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button  color="primary" (click)="getWord()">Traduire</button>
     </mat-card-actions>
  </mat-card>

 